* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img {
    height: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

.login-button{
    background-color: #fff;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

main {
    padding: 2rem;
}

.place-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.details-button {
    background-color: #b61d1d;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.place-details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.place-info {
    padding: 10px;
}

.review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.add-review {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form label {
    font-weight: bold;
}

.form input,
.form textarea,
.form select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form button {
    padding: 0.5rem 1rem;
    background-color: #b61d1d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
}
